<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.school.springboot.mapper.LogMapper">

    <cache eviction="LRU" flushInterval="1200000" size="1024" readOnly="false"></cache>

    <select id="selectLogByUsername" useCache="true" resultType="com.school.springboot.entity.Log">
        select *
        from log
        where username = #{username}
    </select>

    <insert id="insLog" flushCache="true" parameterType="com.school.springboot.entity.Log" statementType="PREPARED">
        insert into log(username, event, time)
        values (#{username},#{event},#{time})
    </insert>

    <select id="selectAllLogs" useCache="true" resultType="com.school.springboot.entity.Log">
        select *
        from log
    </select>

</mapper>